/* Memories theme by mehedirm6244 */

.xfce4-panel button
{
	transition: 0.2s;
	box-shadow: none;
	background-image: none;
	border-radius: 5px;
	margin: 5px;
	background-color: rgba(255,255,255,0.04);
}
.xfce4-panel.background .tasklist button { font-size: 12px; }
.xfce4-panel.background button:active, 
.xfce4-panel.background button:hover, 
.xfce4-panel.background button:active:hover, 
.xfce4-panel.background .tasklist button:active,
.xfce4-panel.background .tasklist button:hover, 
.xfce4-panel.background .tasklist button:active:hover { background-color: rgba(255,255,255,0.03); }
.xfce4-panel button:checked
{
	background-color: rgba(255,255,255,0.05);
	/*box-shadow: inset 2px 0 #597999;*/
}

.tasklist { -XfceTasklist-max-button-length: 160; }

#genmon-12 button, #genmon-13 button { padding: 10px; }

#pager-4 grid {
	background-color: rgba(255,255,255,0.05);
	margin: 5px;
	border-radius: 5px;
}
#pager-4 button {
	padding: 3px;
	margin: 5px;
	font-size: 12px;
}
#pager-4 button:checked
{
	box-shadow: none;
	background-color: #bf616a;
	color: #EEE;
}

#docklike-plugin button
{
	margin: 5px;
	padding: 0 7px;
}

#docklike-plugin .hover_group { background-color: rgba(255,255,255,0.05); }

#separator-1, #separator-3 { color: rgba(255,255,255,0.2); }

#whiskermenu-8 #whiskermenu-button
{
	background-color: #bf616a;
	margin: 5px;
}

#whiskermenu-8 #whiskermenu-button:hover { background-color: rgba(255,255,255,0.15); }
#whiskermenu-8 #whiskermenu-button:checked, #genmon-12 button:checked { background-color: #bf616a; }

window#whiskermenu-window>frame>border { border: 5px solid transparent; }
window#whiskermenu-window scrolledwindow { margin: 2px; }
#whiskermenu-window button { font-size: 14px; }

#whiskermenu-window treeview { padding: 7px 0px 7px 10px; }
#whiskermenu-window treeview:hover { background-color: rgba(255,255,255,0.1); }
#whiskermenu-window iconview { font-size: 12px; padding: 5px 0; }
#whiskermenu-window iconview:hover { background-color: rgba(255,255,255,0.1); }

* {
	-ThunarAbstractIconView-row-spacing: 10;
	-ThunarAbstractIconView-column-spacing: 10;
}

.thunar .sidebar
{
	border: 5px solid transparent;
	/*background-image: url("/home/mehedi/bg.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 100%;*/
}
.thunar .standard-view .view { padding: 5px 14px; }
.thunar .sidebar .view
{
	padding: 3px 4px 3px 0; background-color: transparent;
	border-radius: 3px;
}
.thunar .sidebar .view:hover { background-color: rgba(255,255,255,0.05); }
.thunar .sidebar .view:selected {
	background-color: rgba(255,255,255,0.1);
	border-left: 2px solid #bf616a;
}

VteTerminal, vte-terminal { padding: 15px; }

.xfsm-logout-dialog { border: 2px solid #2f343f; }
.xfsm-logout-dialog * { margin: 3px; }

#XfceNotifyWindow { border: none; }
#XfceNotifyWindow progressbar { border-radius: 5px; }
#XfceNotifyWindow progressbar progress { min-height: 4px; }
#XfceNotifyWindow progressbar trough { min-height: 4px; }
#XfceNotifyWindow image { -gtk-icon-transform: scale(0.8); }

menu, .context-menu { border: none; }
menu menuitem, .menu menuitem, .context-menu menuitem { padding: 6px 16px; }
menu menuitem:hover, .menu menuitem:hover, .context-menu menuitem:hover
{
	background-color: rgba(255,255,255,0.1);
	color: white;
}
.csd.popup decoration { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.45), 0 0 0 0px #22242d; }

#xfwm-tabwin
{
	border-radius: 5px;
	border: none;
}
#xfwm-tabwin button { padding: 6px 10px; }

headerbar label { color: inherit; }

treeview { padding: 1px 5px; }

calendar
{
	border: none;
	border-radius: 5px;
	font-size: 14px;
}
